<div class="wrapper" *ngIf="global.bodyToggle" [@contactTransition] (@contactTransition.done)="animDone()" (@contactTransition.start)="global.animStart()">
    <div class="circle-content">
        <div class="circle _purple"></div>
        <div class="circle _yellow"></div>
        <div class="circle _white"></div>
    </div>
    <div class="content">
        <div class="content-main">
            <h2>{{ contactData[0] }}</h2>
            <p>{{ contactData[1] }}</p>
            <p>{{ contactData[2] }}</p>
            <p>{{ contactData[3] }}</p>
        </div>
        <div class="contact">
            <div class="contact-detail">
                <span class="icon">
                    <mat-icon>phone</mat-icon>
                </span>
                <h2>{{ contactData[4] }}</h2>
                <a href="tel:{{ contactData[5] }}" class="black"><p>{{ contactData[5] }}</p></a>
            </div>
            <br>
            <div class="contact-detail" style="position: relative">
                <span class="icon">
                    <mat-icon>mail</mat-icon>
                </span>
                <h2>{{ contactData[6] }}</h2>
                <a href="mailto:{{ contactData[7] }}" class="black">
                    <p>{{ contactData[7] }}</p>
                </a>
                <button class="btn copy-button" (click)="copyCode()">{{ copymail }}</button>
            </div>
        </div>
    </div>
</div>
