<div class="wrapper" *ngIf="!global.menuToggle">
    <app-circle></app-circle>
    <div class="content">
        <h2>Turing System</h2>
        <p>
            78 rue Jean Jacques Roisseau <br/>
            93200, Saint-Denis <br/>
            France
        </p>
        <div class="contact">
            <span class="icon">
                <mat-icon>phone</mat-icon>
            </span> 
            <h2>Phone</h2>
            <p>+33 6 99 65 93 49</p>
            <br>
            <span class="icon">
                <mat-icon>mail</mat-icon>
            </span>
            <h2>Email</h2>
            <p>hello@turing-system.com</p>
        </div>
    </div>
</div>