.wrapper
    position: relative
.content
    width: 340px
    position: absolute
    left: 50%
    top: 50%
    margin-left: -170px
    margin-top: -125px
    h2
        margin: 0
        font-weight: 400
        font-size: 24px
        line-height: 1.3
    p
        margin: 0
        font-size: 14px
        line-height: 1.3
    .contact
        margin-top: 20px
        margin-left: 20px
        .icon
            width: 30px
            position: relative
        mat-icon
            position: absolute
            font-size: 30px
        h2
            margin-left: 35px

.circle-content
    min-height: 596px
    overflow-x: hidden
    position: relative
.circle
    border-radius: 50%
._purple
    background-color: #AB10CC
    width: 596px
    padding-top: 596px
    position: absolute
    left: 50%
    top: 50%
    margin-left: -298px
    margin-top: -298px

._yellow
    background-color: #FFE56E
    width: 526px
    padding-top: 526px
    position: absolute
    left: 50%
    top: 50%
    margin-left: -263px
    margin-top: -263px
._white
    background-color: #FFFFFF
    width: 459px
    padding-top: 459px
    position: absolute
    left: 50%
    top: 50%
    margin-left: -229.5px
    margin-top: -229.5px
