.error
    width: 100%
    background-color: #464646
    color: #ffffff
    .error-content
        padding: 150px 70px
        h1
            margin: 0
            color: rgb(255, 229, 110)
            font-size: 72px
            font-weight: 700
        a
            color: rgb(255, 229, 110)
            font-weight: bold
        button
            color: rgb(255, 229, 110)
            border: rgb(255, 229, 110) solid 2px
            background: transparent
            font-size: 15px
            font-weight: 600
            line-height: 27px
            padding: 0px 12px
            border-radius: 6px
        button:focus
            outline: none
        p
            font-size: 14px
            line-height: 1.3
            width: 279px
@media(max-width: 1121px)
    .error
        height: 100vh
@media(min-width: 1121px)
    .error
        height: 100vh
        .error-content
            padding: 200px 270px
            h1
                font-size: 100px
            button
                font-size: 19px
            p
                font-size: 17px
                line-height: 1.7
