<div class="wrapper" *ngIf="!global.menuToggle">
  <app-circle></app-circle>
  <div class="content">
    <div class="avatar">
        <img src="https://storage.moqups.com/repo/xJzw4EJ2/k9dDAZ86Js.jpg" width="136" height="180" align="right">
        <span>Jaques Arsac 1929-2014</span>
    </div>
    <h2>Arsac Consulting</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sintoccaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>