<div class="wrapper" *ngIf="global.bodyToggle" [@arsacTransition] (@arsacTransition.done)="animDone()" (@arsacTransition.start)="global.animStart()">
    <div class="circle-content">
        <div class="circle _purple"></div>
        <div class="circle _yellow"></div>
        <div class="circle _white"></div>
        <div class="content">
            <div class="avatar">
                <img src="https://storage.moqups.com/repo/xJzw4EJ2/k9dDAZ86Js.jpg" width="136" height="180" align="right">
                <span>Jaques Arsac 1929-2014</span>
            </div>
            <h2>Arsac Consulting</h2>
            <!-- <p markdown src="{{ mdSrc }}" class="markdown"></p> -->
            <app-markdown class="markdown" path="{{ mdSrc }}"></app-markdown>
        </div>
    </div>
</div>
