<div class="wrapper" *ngIf="global.bodyToggle" [@aboutusTransition] (@aboutusTransition.done)="animDone()">
    <div class="circle-content">
        <div class="circle _purple"></div>
        <div class="circle _yellow"></div>
        <div class="circle _white"></div>
    </div>
    <div class="content">
        <div class="turing-system">
            <h2 routerLink="/aboutus/turing-system">Turing System</h2>
            <span>Paris</span>
        </div>
        <div class="arsac-consulting">
            <h2 routerLink="/aboutus/arsac-consulting">Arsac Consulting</h2>
            <span>Tunis</span>
        </div>
        <img width="320" height="276" src="https://storage.moqups.com/repo/xJzw4EJ2/ll7ZRlKKNz.jpg" alt="">
    </div>
</div>
