<div class="header">
    <div class="container">
        <mat-toolbar>
        <mat-toolbar-row class="main-color">
            <a routerLink="/">
                <div class="logo">
                    <img src="/assets/png/logo.png" alt="Turing machine" width="100">
                </div>
            </a>
            <span class="spacer"></span>
            <button mat-icon-button>
                <mat-icon aria-label="Menu button in mobile mode" class="menu-icon white">menu</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    </div>
</div>