<div *ngIf="global.headerToggle && !global.bigDevice" class="header" [class.sticky]="global.headerSticky" [@stickyTransition]>
    <mat-toolbar *ngIf="!global.bigDevice">
        <mat-toolbar-row>
            <div class="logo main-color" (click)="onHome()">
                <img src="/assets/png/logo.png" alt="Turing machine" width="100" height="50">
            </div>
            <span class="spacer"></span>
            <button mat-icon-button (click)="onMenuClick()">
                <mat-icon *ngIf="!global.animProcessing" [class.white]="!global.colorToggle" aria-label="Menu button in mobile mode">menu</mat-icon>
                <img *ngIf="global.animProcessing" src="/assets/svg/loading.svg" alt="While loading, you can't click here" width="30" height="30">
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
<div class="menu" *ngIf="global.menuToggle && !global.bigDevice" [@menuTransition] (@menuTransition.done)="animDone()" (@menuTransition.start)="global.animStart()">
    <div class="menu-item" matRipple (click)="onMenu('showroom')">
        <h2 style="color: white">{{ menuData[0] }}</h2>
    </div>
    <div class="menu-item" matRipple (click)="onMenu('aboutus')">
        <h2 style="color: white">{{ menuData[1] }}</h2>
    </div>
    <div class="menu-item" matRipple (click)="onMenu('contact')">
        <h2 style="color: white">{{ menuData[2] }}</h2>
    </div>
    <div class="locale">
        <span style="color: white">{{ menuData[3] }}</span>
        <img src="/assets/svg/{{ lc }}.svg" alt="{{ menuData[3] }}" width="62" height="41" (click)="localeChange(lc)">
    </div>
</div>

<div *ngIf="global.headerToggle && global.bigDevice" class="navLogo">
    <div class="logo main-color" (click)="onHome()">
        <img src="/assets/png/logo.png" alt="Turing machine" width="100" height="50">
    </div>
</div>
<div *ngIf="global.headerToggle && global.bigDevice && global.bodyToggle" class="navMenu" [@sideMenuTransition]>
    <ul style="margin-top: 20px">
        <li matRipple (click)="onNavMenu('showroom')">{{ menuData[0] }}</li>
        <li matRipple (click)="onNavMenu('aboutus')">{{ menuData[1] }}</li>
        <li matRipple (click)="onNavMenu('contact')">{{ menuData[2] }}</li>
    </ul>
</div>
<div *ngIf="global.headerToggle && global.bigDevice && global.bodyToggle" class="navLocale" [@sideLocaleTransition]>
    <div class="sideLocale">
        <span>{{ menuData[3] }}</span>
        <img src="/assets/svg/{{ lc }}.svg" alt="{{ menuData[3] }}" width="62" height="41" (click)="localeChange(lc)">
    </div>
</div>
