.wrapper
    position: relative
.content
    width: 340px
    height: 340px
    overflow-y: hidden
    position: absolute
    left: 48%
    top: 50%
    margin-top: -165px
    h1
        margin: 0
        font-weight: 400
        font-size: 35px
        line-height: 1.3
        margin-top: 20px
    h3
        margin: 0
        font-weight: 400
        font-size: 24px
        line-height: 1.3
        margin-left: 40%
        width: 184px
    div
        width: 100%
        text-align: center
        margin-top: 10px
        span
            font-weight: 400
            font-size: 26px
            line-height: 1.3
