@media(max-width: 1120px)
    .wrapper
        position: relative
    .content
        width: 340px
        height: 340px
        overflow-y: hidden
        position: absolute
        left: 48%
        top: 50%
        margin-top: -165px
        h1
            margin: 0
            font-weight: 400
            font-size: 35px
            line-height: 1.3
            margin-top: 20px
        h3
            margin: 0
            font-weight: 400
            font-size: 24px
            line-height: 1.3
            margin-left: 40%
            width: 184px
        div
            width: 100%
            text-align: center
            margin-top: 10px
            span
                font-weight: 400
                font-size: 26px
                line-height: 1.3
    .circle-content
        min-height: 596px
        overflow-x: hidden
        position: relative
    .circle
        border-radius: 50%
    ._purple
        background-color: #AB10CC
        width: 596px
        padding-top: 596px
        position: absolute
        left: 50%
        top: 50%
        margin-left: -298px
        margin-top: -298px

    ._yellow
        background-color: #FFE56E
        width: 526px
        padding-top: 526px
        position: absolute
        left: 50%
        top: 50%
        margin-left: -263px
        margin-top: -263px
    ._white
        background-color: #FFFFFF
        width: 459px
        padding-top: 459px
        position: absolute
        left: 50%
        top: 50%
        margin-left: -229.5px
        margin-top: -229.5px
@media(min-width: 1121px)
    .wrapper
        position: relative
        margin-top: -121px
    .content
        width: 600px
        height: 600px
        overflow-y: hidden
        position: absolute
        left: 45%
        top: 41%
        margin-top: -165px
        h1
            margin: 0
            font-weight: 400
            font-size: 45px
            line-height: 1.7
            margin-top: 20px
        h3
            margin: 0
            font-weight: 400
            font-size: 31px
            line-height: 1.7
            margin-left: 40%
            width: 220px
        div
            width: 100%
            text-align: center
            margin-top: 10px
            span
                font-weight: 400
                font-size: 33px
                line-height: 1.7
    .circle-content
        min-height: 1010px
        overflow-x: hidden
        position: relative
    .circle
        border-radius: 50%
    ._purple
        background-color: #AB10CC
        width: 1010px
        padding-top: 1010px
        position: absolute
        left: 50%
        top: 50%
        margin-left: -505px
        margin-top: -505px

    ._yellow
        background-color: #FFE56E
        width: 918px
        padding-top: 918px
        position: absolute
        left: 50%
        top: 50%
        margin-left: -459px
        margin-top: -459px
    ._white
        background-color: #FFFFFF
        width: 844px
        padding-top: 844px
        position: absolute
        left: 50%
        top: 50%
        margin-left: -422px
        margin-top: -422px
