<div class="showroom" *ngIf="!showDetail && global.bodyToggle" [@showroomTransition] (@showroomTransition.done)="animDone()">
    <div class="intro">
        <h1>{{title}}</h1>
        <p>{{text}}</p>
    </div>
    <div class="item" *ngFor="let item of showroomData" >
        <a routerLink="{{ item.url }}"><img id="{{ item.picture_attr.id }}" src="{{ item.picture_url }}" width="297" height="297" alt="{{ item.picture_attr.alt }}"></a>
        <a routerLink="{{ item.url }}" class="black">
            <h2 class="caption">
                {{ item.title }}
            </h2>
        </a>
    </div>
</div>
<div *ngIf="showDetail && global.bodyToggle" class="markdown">
    <p markdown src="{{ global.url }}showroom/{{ locale.locale }}.{{ showroomDetail }}.md"></p>
</div>
