<div class="wrapper" *ngIf="global.bodyToggle" [@turingTransition] (@turingTransition.done)="animDone()" (@turingTransition.start)="global.animStart()">
    <div class="circle-content">
        <div class="circle _purple"></div>
        <div class="circle _yellow"></div>
        <div class="circle _white"></div>
        <div class="content">
            <div class="avatar">
                <img src="https://storage.moqups.com/repo/xJzw4EJ2/XUCIE5v4Hx.jpg" width="141" height="131" align="right">
                <span>Alan Turing 1912-1954</span>
            </div>
            <h2>Turing System</h2>
            <!-- <p markdown src="{{ mdSrc }}" class="markdown"></p> -->
            <app-markdown class="markdown" path="{{ mdSrc }}"></app-markdown>
        </div>
    </div>
</div>
